* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

header {
    background-image: url(./assets/thumb-1920-958080.jpg);
    background-position: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 160px;
}

#header-p{

color: white;
font-weight: bolder;
text-align: center;

}
.link1{
    text-decoration: none;
}

header ul {
    display: flex;
   
}
header  li {
    list-style: none;
    
}

header ul li a {
    text-decoration: none;
    font-size: larger;
    color: white;
    font-weight: bold;
 
}
.topnav{
    gap: 40px;
}
main{
    background-image: url(./assets/Resturant\ main\ background.jpg);
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    
}
footer {
    padding-top: 20px;
    height:220px;
   background-image: url(./assets/Blue_to_purple_gradient_header.png);
    display: inline-flexbox;
    justify-content: center;
    align-items: center;
}

footer p {
    text-align: left;
    padding-top: 5px;
    padding-left: 20px;
  color: #4d1055;
  font-size: large;
}
#firstFooter{
    display:flex;
    justify-content:safe;


}
#secoundFooter{
    position: relative;
    padding-left:25px;
    padding-right: 65px;
    color: #4d1055;
padding-bottom:20px;
    align-items: center;

}
#secoundFooter a{
    text-decoration: none;
    padding-left: 20px;
    padding-top: 5px;
    color: #4d1055;
    font-weight: bold;


}
#footerPara{
    text-align: center;
    padding-top: 5px;
    color: #820000; 
}
#Contact{
    padding-left: 150px;
}


.header2{
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
    color: gold;
}

#render{
    padding-top: 50px;
    padding-bottom: 30px;
}
table{
    border: 1px ,solid, #4b0953;
    border-collapse: collapse;
  width: 1000px;
  height: 50px;
 
  font-size: 20px;
    
}

th{
  
  background-color: #4b06a7;
  background-position: center;
    border: 3px solid #4b0953;
    color: white;
    font-size: 25px;
}
td{
    border: 1px solid #4b0953;  
    background-color: white;
    font-size: 20px;
    font-weight: bolder;
    color: #4d1055;
    text-align: center;
}
